################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Maryia_Bychkova_Application/bin/Debug/net6.0
/Maryia_Bychkova_Application/obj
/.vs/Maryia_Bychkova_Application/DesignTimeBuild
/.vs/Maryia_Bychkova_Application/FileContentIndex
/.vs/Maryia_Bychkova_Application/v17
/.vs/Task_3/v17
/.vs
/HomeTask3/bin/Debug/net6.0
/HomeTask3/obj
