################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Maryia_Bychkova_Application/bin/Debug/net6.0
/Maryia_Bychkova_Application/obj
/.vs
