################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Maryia_Bychkova_Application/bin/Debug/net6.0
/Maryia_Bychkova_Application/obj
/.vs/Maryia_Bychkova_Application/DesignTimeBuild
/.vs/Maryia_Bychkova_Application/FileContentIndex
/.vs/Maryia_Bychkova_Application/v17
/.vs/Task_3/v17
/.vs
/CSharpBasics/obj
/CSharpCollections1/bin/Debug/net6.0
/CSharpCollections1/obj/Debug/net6.0
/CSharpCollections1/obj
/CSharpOOP2/obj
/HW_3/obj
